[Desktop Entry]
Type=Service
ServiceTypes=Krita/PythonPlugin
X-KDE-Library=henriks_krita_buttons
X-Python-2-Compatible=false
X-Krita-Manual=Manual.html
Name=Henriks buttons
Comment=Henriks buttons
Name[en_US]=henriks_krita_buttons.desktop
